<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset #title}{include title|striptags} | {/ifset}CMG bufet</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="google-signin-client_id"
          content="491263582523-hpaqpv1ogb9m845657bjckmbase6uhct.apps.googleusercontent.com">

    {block head}
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/ext/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="/css/dist/main.min.css">
    {/block}
</head>

<body>

<nav class="white" role="navigation" n:block="nav">
    <div class="nav-wrapper container">
        <a id="logo-container" n:href="Homepage:" class="brand-logo">
            <img src="/img/logo.png" alt="CMGbufet">
        </a>
        <ul class="right hide-on-med-and-down" n:inner-block="menuitems">
            <li n:class="$presenter->isLinkCurrent('Homepage:') ? active"><a n:href="Homepage:">Úvod</a></li>
            <li n:class="$presenter->isLinkCurrent('Offer:*') ? active"><a n:href="Offer:">Aktuální nabídka</a></li>
            {if $user->isLoggedIn()}
                <li n:class="$presenter->isLinkCurrent('Basket:*') ? active"><a n:href="Basket:">Košík (<b>0 položek</b>)</a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Credit:*') ? active"><a n:href="Credit:">Kredit (<b>27 Kč</b>)</a></li>
                <li n:class="$presenter->isLinkCurrent('Account:') ? active"><a n:href="Account:">Můj účet</a></li>
                <li><a href="#" onclick="gapiSignOut()">Odhlásit se (<b>Slávek Müller</b>)</a></li>
            {else}
                <li n:class="$presenter->isLinkCurrent('Account:login') ? active"><a n:href="Account:login">Přihlásit se</a></li>
                <li><a href="#" onclick="gapiSignOut()">Odhlásit se (<b>Slávek Müller</b>)</a></li>
            {/if}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {include menuitems}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{include content}

<footer class="page-footer coolred" n:block="footer">
    <div class="footer-copyright center-align">
        <div class="container hide-on-small-only">
            Provozovateli jsou
            <a class="brown-text text-lighten-3" href="https://davidindra.cz" target="_blank">David Indra</a>,
            <a class="brown-text text-lighten-3" href="https://adamhradil.cz" target="_blank">Adam Hradil</a> a
            <a class="brown-text text-lighten-3" href="http://szymsza.cz" target="_blank">Jakub Szymsza</a>.
            Všechna práva jsou jim vyhrazena.
        </div>
        <div class="container hide-on-med-and-up">
            &copy; 2016 Všechna práva vyhrazena provozovatelům.
        </div>
    </div>
</footer>

{block scripts}
    <script type="text/javascript" n:snippet="pageNameJS">
        var _page = {$presenter->name};
        var _pageAction = {$presenter->action};
    </script>

    <script type="text/javascript" n:snippet="flashes">
        var flashes = [];
        {foreach $flashes as $flash}
        flashes.push({$flash->message});
        {/foreach}
    </script>

    <script type="text/javascript" src="/js/ext/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ext/materialize.min.js"></script>

    <script type="text/javascript" src="/js/dist/main.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=gapiOnLoad" async defer></script>
{/block}
</body>
</html>
