<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title n:snippet="title">{ifset #title}{include title|striptags} | {/ifset}CMG bufet</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
    <meta name="theme-color" content="#d5403a">

    <meta name="description"
          content="Ohlášky.cz jsou stránkou, díky které mají farníci (především) prostějovských kostelů vždy přehled o nejbližších bohoslužbách a informacích z farností.">
    <meta name="keywords" content="bufet,CMG,Prostějov,jídlo,svačina">
    <meta name="author" content="David Indra, Adam Hradil, Jakub Szymsza">

    <meta property="fb:app_id" content="1811210709152872">
    <meta property="og:title" content="CMGbufet.cz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cmgbufet.cz/">
    <meta property="og:description"
          content="Bufet s širokým sortimentem, neomezený nesmyslnými vyhláškami. Nakup u nás, zaručeně si vybereš! :)">
    <meta property="og:image" content="https://cmgbufet.cz/img/opengraph.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="650">

    <meta name="google-signin-client_id"
          content="491263582523-hpaqpv1ogb9m845657bjckmbase6uhct.apps.googleusercontent.com">

    {block head}
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/ext/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="/css/dist/main.min.css">
    {/block}
</head>

<body>

<nav class="white" role="navigation" n:block="nav">
    <div class="nav-wrapper container">
        <a id="logo-container" n:href="Homepage:" class="ajax brand-logo">
            <img src="/img/logo.png" alt="CMGbufet">
        </a>

        <ul class="right hide-on-med-and-down" n:inner-block="menuitems">
                <li n:class="$presenter->isLinkCurrent('Homepage:') ? active"><a n:href="Homepage:"
                            class="ajax">Úvod</a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Offer:*') ? active"><a n:href="Offer:" class="ajax">Aktuální
                        nabídka</a></li>
                {if $user->isLoggedIn()}
                    <li n:class="$presenter->isLinkCurrent('Basket:*') ? active"><a n:href="Basket:" class="ajax">Košík
                            (<b>0 položek</b>)</a>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Credit:*') ? active"><a n:href="Credit:" class="ajax">Kredit
                            (<b>27
                                Kč</b>)</a></li>
                    <li n:class="$presenter->isLinkCurrent('Account:') ? active"><a n:href="Account:" class="ajax">Můj
                            účet</a></li>
                    <li><a href="#" onclick="gapiSignOut()">Odhlásit se (<b>{$user->identity->name}</b>)</a></li>
                {else}
                    <li n:class="$presenter->isLinkCurrent('Account:login') ? active"><a n:href="Account:login"
                                class="ajax">Přihlásit se</a></li>
                {/if}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {include menuitems}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{snippet content}
    {include content}
{/snippet}

<footer class="page-footer coolred" n:block="footer">
    <div class="footer-copyright center-align">
        <div class="container hide-on-small-only">
            Provozovateli jsou
            <a class="brown-text text-lighten-3" href="https://davidindra.cz" target="_blank">David Indra</a>,
            <a class="brown-text text-lighten-3" href="https://adamhradil.cz" target="_blank">Adam Hradil</a> a
            <a class="brown-text text-lighten-3" href="https://szymsza.cz" target="_blank">Jakub Szymsza</a>.
            Všechna práva jsou jim vyhrazena.
        </div>
        <div class="container hide-on-med-and-up">
            &copy; 2016 Všechna práva vyhrazena provozovatelům.
        </div>
    </div>
</footer>

{block scripts}

{snippet pageNameJS}
    <script type="text/javascript">
        var _page = {$presenter->name};
        var _pageAction = {$presenter->action};
    </script>
{/snippet}

{snippet flashes}
    <script type="text/javascript">
        var flashes = [];
        {foreach $flashes as $flash}
        flashes.push({$flash->message});
        {/foreach}
    </script>
{/snippet}

    <script type="text/javascript" src="/js/ext/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ext/materialize.min.js"></script>

    <script type="text/javascript" src="/js/ext/nette.ajax.js"></script>
    <script type="text/javascript" src="/js/ext/fidRemove.ajax.js"></script>
    <script type="text/javascript" src="/js/ext/spinner.ajax.js"></script>
    <script type="text/javascript" src="/js/ext/history.ajax.js"></script>

    <script type="text/javascript" src="/js/dist/main.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=gapiOnLoad" async defer></script>

{/block}

</body>
</html>
