# IDE
/.idea/

# dependencies
/vendor/
/bower_components/
/node_modules/
/.sass-cache/

# Nette
/temp/cache/*
/log/*
!/log/.htaccess

# secrets
/app/config/secrets.json

# built and external files
/www/js/dist/*
/www/css/dist/*
/www/js/ext/*
/www/css/ext/*
/www/css/fonts/*
