# IDE
.idea/

# dependencies
vendor/
bower_components/
node_modules/

# Nette
temp/cache/*
log/*
!log/.htaccess

# built files
www/js/*.min.js

# imported deps
www/js/jquery*
www/js/materialize*
www/css/materialize*