@import "colors"

// better pointer
html
  cursor: default

// menu items color
nav ul a
  color: #444

// mobile menu button color
.button-collapse
  color: $coolred

// parallax styling
.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  color: rgba(255,255,255,.9)

  .section
    width: 100%
    @media only screen and (max-width : 992px)
      position: absolute
      top: 40%

#index-banner .container
  padding-top: 2ex

#index-banner .section
  @media only screen and (max-width : 992px)
    top: 10%
  @media only screen and (max-width : 600px)
    top: 0

.btn-large:hover
  background-color: $coolred-lighter

// header logo
.brand-logo > img
  height: 3.5rem
  width: auto
  vertical-align: middle

// footer
.footer-copyright
  font-size: 13px

footer.page-footer
  margin: 0
  padding-top: 0
  //bottom: 0
  //position: fixed
  //width: 100%

// AJAX spinner
#ajax-spinner
  position: fixed
  width: 32px
  height: 32px
  top: 16px
  right: 16px
  background: url("/img/spinner.gif") no-repeat
  background-size: cover

// sticky footer
body
  display: flex
  min-height: 100vh
  flex-direction: column

//main
div#snippet--content
  flex: 1 0 auto